.main-background {
  width: 100%;
  height: 500px;
  background-image: url(../workSpace/assets/workingIMG1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  padding-top: 1px;
}
.main-title {
  padding-top: 10px;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
  margin: auto;
  text-align: center;
}
.main-nav {
  width: 100%;
  float: left;
  color: white;
  font-size: 15px;
  text-align: center;
}

.main-nav ul {
  padding: 0;
}

.main-nav li {
  list-style: none;
  width: 60px;
  display: inline-block;
  padding-left: 15px;
  box-sizing: border-box;
}
